 <div class="subreddit-elements clearfix">
	<h3 class="fancy-words"><%= user.escape("username") %></h3>


	<div class="subreddit-nav-bar">
		<ul>
			<li><a class="posts" href="#/users/<%= user.id %>/posts">posts</a></li>
			<li><a class="comments" href="#/users/<%= user.id %>/comments">comments</a></li>
		</ul>
	</div>


	<div class="subreddit-sidebar">
		<div class="subreddit-details user-details">
			<p><%= user.escape("username") %></p>
			<p>account created <%= $.timeago(user.escape("created_at")) %> </p>
			<p>post karma: <%= user.escape("post_karma") %></p>
			<p>comment karma: <%= user.escape("comment_karma") %></p>
			<% var subReddits = user.get("moderated_subreddits"); %>
			<% if (subReddits) { %>
				<% subReddits.forEach(function(subReddit){ %>
					<p>moderator:<a href="#/subreddits/<%= subReddit.id %>"><%= subReddit.name %></a></p>
					<br>
				<% }) %>
			<% } %>
		</div>
	</div>
</div>
