<%= navTemplate({ user: user }) %>
<div class="user-profile">
	<div class="user-comments">
		<% user.comments().forEach(function(comment){  %>

			<div class="comment"  comment-id="<%= comment.id %>">

			<span>
				<% if (comment.get('author_avatar')) { %>
				  <img class="comment-user-avatar" src="<%= comment.get('author_avatar') %>">
				<% } else { %>
				  <img class="comment-user-avatar" src="https://www.filepicker.io/api/file/YjHgU2xSPG63ndUHWnJw">
			  <% } %>
			</span>

				<p>
					<span class="username">
						<a href="#/users/<%= comment.escape("user_id") %>">
							<%= comment.escape("author_username") %>
						</a>
					</span>

					<span class="karma">
						<%= comment.escape("karma") %> points
					</span>

					<span class="time-ago">
						<%= jQuery.timeago(comment.escape("created_at")) %>
					</span>
				</p>

				<p class="content">
					<%= comment.escape("content") %>

					<% if (comment.get('filepicker_url')) { %>
						<br><br>
					<% } %>

					<a href="<%= comment.get('filepicker_url') %>">
					  <img src="<%= comment.get('filepicker_url') %>" class="filepicker">
					</a>

					<p>
						<span class="comment-link">
							<a href="#/comments/<%= comment.id %>">
								permalink
							</a>
						</span>

						<span class="reply">
							<a href="#/comments/<%= comment.id %>" data-id="<%= comment.id %>">
								reply
							</a>
						</span>

						<span class="upvote" comment-id="<%= comment.id %>">
							<a href="#/comments/<%= comment.id %>/upvote" rel="nofollow">
								<img src="skeleFBlike.png" height="15" width="16">
							</a>
						</span>

						<span class="downvote" comment-id="<%= comment.id %>">
							<a href="#/comments/<%= comment.id %>/downvote" rel="nofollow">
								<img src="skeleFBdislike.png" height="15" width="16">
							</a>
						</span>

						<% if (comment.escape("user_id") == ProjectSkeleton.currentUserId ) { %>
							<span class="delete" comment-id="<%= comment.id %>">
								<a href="#/comments/<%= comment.id %>" rel="nofollow">
									delete
								</a>
							</div>
						<% } %>
					</p>
				</p>
			</div>
		<% }); %>
	</div>
</div>
