 <div class="subreddit-elements clearfix">
	<h3 class="fancy-front">
    <%= comment.subReddit().escape("name") %>
  </h3>

	<div class="subreddit-nav-bar">
		<ul>
			<li><a class="hot" href="#/comments/<%= comment.id %>">hot</a></li>
			<li><a class="new" href="#/comments/<%= comment.id %>">new</a></li>
			<li><a class="controversial" href="#/comments/<%= comment.id %>">controversial</a></li>
			<li><a class="top" href="#/comments/<%= comment.id %>">top</a></li>
			<li><a class="best" href="#/comments/<%= comment.id %>">best</a></li>

		</ul>
	</div>

	<div class="subreddit-sidebar">
		<div class="search-submit-area">
			<form class="search-posts">
				<input type="text" name="search" placeholder="search project skeleton">
			</form>
			<a class="new-text" href="#/api/posts/new">Submit a new post</a>
			<a class="new-subreddit" href="/subreddits/new">Create a sub</a>
		</div>

		<div class="subreddit-details">
			<p>Name: <%= comment.subReddit().escape("name") %></p><br>
		  <p>Moderator: <a href="#/api/users/<%= comment.subReddit().escape("moderator_id")%>"><br>
      <%= comment.subReddit().escape("moderator") %></a></p><br>
			<p>Title: <%= comment.subReddit().escape("title") %></p><br>
			<p>Description: <%= comment.subReddit().escape("description") %></p><br>
    </div>
	</div>
</div>
