<div class="comment"  comment-id="<%= comment.id %>">

	<div class="vote-buttons">
		<div class="upvote" comment-id="<%= comment.id %>">
			<a href="#/comments/<%= comment.id %>/upvote" rel="nofollow"><img src="skeleFBlike.png"></a>
		</div>

		<div class="downvote" comment-id="<%= comment.id %>">
			<a href="#/comments/<%= comment.id %>/downvote" rel="nofollow">V</a>

		</div>

			<% if (comment.escape("user_id") == ProjectSkeleton.currentUserId ) { %>
				<div class="delete" comment-id="<%= comment.id %>">
					<a href="#/comments/<%= comment.id %>" rel="nofollow">delete</a>
				</div>
			<% } %>
	</div>

	<p>
		<span class="username">
			<a href="#/users/<%= comment.escape("user_id") %>">
				<%= comment.escape("author_username") %>
			</a>
		</span>

		<span class="karma">
			<%= comment.escape("karma") %> points
		</span>

		<span class="time-ago">
			<%= jQuery.timeago(comment.escape("created_at")) %>
		</span>
	</p>

	<p class="content"><%= comment.escape("content") %>
	<p> <span class="comment-link"><a href="#/comments/<%= comment.id %>
">permalink</a></span> <span class="reply"><a href="#/comments/<%= comment.id %>" data-id="<%= comment.id %>">reply</a></span> </p>
</div>
