<div class="comment"  comment-id="<%= comment.id %>">

    <span>
			<% if (comment.get('author_avatar')) { %>
			  <img class="comment-user-avatar" src="<%= comment.get('author_avatar') %>">
			<% } else { %>
			  <img class="comment-user-avatar" src="https://www.filepicker.io/api/file/YjHgU2xSPG63ndUHWnJw">
		  <% } %>
		</span>

	<p>

		<span class="username">
		  <a href="#/users/<%= comment.escape("user_id") %>">
			  <%= comment.escape("author_username") %>
			</a>
		</span>

		<span class="karma">
		  <%= comment.escape("karma") %> points
		</span>

		<span class="time-ago">
			<%= jQuery.timeago(comment.escape("created_at")) %>
		</span>
	</p>

	<p class="content">
	  <%= comment.escape("content") %>

		<% if (comment.get('filepicker_url')) { %>
			<br><br>
		<% } %>

		<a href="<%= comment.get('filepicker_url') %>">
			<img src="<%= comment.get('filepicker_url') %>" class="filepicker">
		</a>

	  <p>

			<span class="comment-link">
			  <a href="#/comments/<%= comment.id %>">permalink</a>
			</span>

			<span class="reply">
			  <a href="#" data-id="<%= comment.id %>">reply</a>
			</span>

			<span class="upvote" comment-id="<%= comment.id %>">
				<a href="#/comments/<%= comment.id %>/upvote" rel="nofollow">
				  <img src="skeleFBlike.png" height="22" width="24">
				</a>
			</span>

			<span class="downvote" comment-id="<%= comment.id %>">
				<a href="#/comments/<%= comment.id %>/downvote" rel="nofollow">
				  <img src="skeleFBdislike.png" height="22" width="24">
				</a>
			</span>

			<% if (comment.escape("user_id") == ProjectSkeleton.currentUserId ) { %>
				<span class="delete" comment-id="<%= comment.id %>">
					<a href="#/comments/<%= comment.id %>" rel="nofollow">delete</a>
				</span>
			<% } %>
		</p>
	</p>

	<form class="hidden commment-comment" action="#/comments/<%= comment.id %>/comments/new" data-id="<%= comment.id %>">
		<p>comment on comment</p>

		<input type="hidden" name="comment[comment_id]" value="<%= comment.id %>">

		<textarea name="comment[content]"></textarea>
		<br>
		<button type="button" class="shawnas">Upload a Photo </button>

		<input type="submit" value="submit" class="submit-comment-comment">
	</form>

	<div class="child">
		<% comment.comments().forEach(function(child) { %>
			<%= templateFn({ comment: child, templateFn: templateFn }) %>
		<% }) %>
	</div>
</div>
