<div class="subreddit-elements clearfix">
  <h3 class="fancy-front">
    <a href="#/subreddits/<%= post.subReddit().id %>">
      <%= post.subReddit().escape("name") %>
    </a>
  </h3>

  <div class="subreddit-nav-bar">
    <ul>
	    <li>
        <a class="hot" href="#/posts/" + "<%= post.id %>">
         hot
        </a>
      </li>

		  <li>
        <a class="new" href="#/posts/" + "<%= post.id %>">
          new
        </a>
      </li>

		 <li>
       <a class="controversial" href="#/posts/" + "<%= post.id %>">
         controversial
       </a>
     </li>

		 <li>
       <a class="top" href="#/posts/" + "<%= post.id %>">
         top
       </a>
     </li>

		 <li>
       <a class="best" href="#/posts/" + "<%= post.id %>">
         best
       </a>
     </li>

		</ul>
	</div>

	<div class="subreddit-sidebar">
		<div class="search-submit-area">
			<form class="search-posts">
				<input type="text" name="search" class="search" placeholder="Search Project Skeleton">
			</form>

			<a class="new-text" href="#/posts/new">Submit a New Post</a>
			<a class="new-subreddit" href="#/subreddits/new">Create a Sub</a>
		</div>

		<div class="subreddit-details">
			<p><%= post.subReddit().escape("name") %></p><br><br>

      <div class="sub-avatar-section">
        <% if (post.subReddit().get("filepicker_url")) { %>
    		  <img src="<%= post.subReddit().get('filepicker_url') %>">
    		<% } else { %>
    		  <img src="https://www.filepicker.io/api/file/YjHgU2xSPG63ndUHWnJw">
    	  <% } %>
			</div>

			<p><%= post.subReddit().escape("description") %></p>
    </div>
	</div>
</div>
