<div class="text-post post" post-id="<%= post.id %>">

	<div class="vote-buttons">
		<div class="upvote" post-id="<%= post.id %>">
			<a href="#/posts/<%= post.id %>/upvote" rel="nofollow">
			  <img src="skeleFBlike.png" height="32" width="32">
			</a>
		</div>

		<div class="downvote" post-id="<%= post.id %>">
			<a href="#/posts/<%= post.id %>/downvote" rel="nofollow">
		    <img src="skeleFBdislike.png" height="32" width="32">
			</a>
		</div>
	</div>

	<p>
	  <span class="post-title">
		  <a href="#/posts/<%= post.id %>">
			  <%= post.escape("title") %>
			</a>
		</span>

	  <span class="karma">
				<%= post.escape("karma") %> points
		</span>

		submitted by
		<span class="username">
		  <a href="#/users/<%= post.escape("poster_id") %>">
		    <%= post.escape("poster") %>
			</a>
		</span>

		in
		<span class="subreddit-name">
		  <a href="#/subreddits/<%= post.escape("subreddit_id") %>">
			  <%= post.subReddit().escape("name") %>
			</a>
		</span>

		<span class="time-ago">
			<%= jQuery.timeago(post.escape("created_at")) %>
		</span>
	</p>

  <br><br>
  <p class="specs">
		Project Specifications:
	</p>

	<br>
	<p class="text">
	  <%= post.escape("text") %>
	</p>

	<br><br>

	<!-- <div class="comments">
		<a href="#/posts/<%= post.id %>">
		  <span class="num-comments">
			  <%= post.escape("sum_comments") %>
			</span> comment(s)
		</a>
	</div> -->

	<br><br>
</div>
