<div class="text-post post" post-id="<%= post.id %>">

	<div class="vote-buttons">
		<div class="upvote" post-id="<%= post.id %>">
			<a href="#/posts/<%= post.id %>/upvote" rel="nofollow">
				<img src="skeleFBlike.png" height="24" width="26">
			</a>
		</div>

		<span class="karma">
			<%= post.escape("karma") %>
		</span>

		<div class="downvote" post-id="<%= post.id %>">
			<a href="#/posts/<%= post.id %>/downvote" rel="nofollow">
				<img src="skeleFBdislike.png" height="24" width="26">
			</a>
		</div>

		<div class="buffer-zone"></div>

	</div>

	<p>
		<span>
			<% if (post.subReddit().escape("filepicker_url")) { %>
				<img class="sub-avatar" src="<%= post.subReddit().escape("filepicker_url") %>">
		  <% } else { %>
				<img class="sub-avatar" src="https://www.filepicker.io/api/file/YjHgU2xSPG63ndUHWnJw">
			<% } %>
		</span>

		<span class="post-title">
			<a href="#/posts/<%= post.id %>">
				<%= post.escape("title") %>
			</a><br>
		</span>

		<span class="poster">
			submitted by <a href="#/users/<%= post.escape("poster_id") %>">
		</span>

			<span class="username">
			  <%= post.escape("poster") %>
		</a>
		</span>
		in <a href="#/subreddits/<%= post.escape("subreddit_id") %>">
			 <span class="subreddit-name">
		      <%= post.subReddit().escape("name") %>
			 </span>
			</a>

		<span class="time-ago">
			<%= jQuery.timeago(post.escape("created_at")) %>
		</span>
	</p>

	<div class="comments">
		<a href="#/posts/<%= post.id %>">
			<span class="num-comments">
				<%= post.escape("sum_comments") %>
			</span>
			comment(s)
		</a>
	</div>

	<% if ( post.escape("poster_id") == ProjectSkeleton.currentUserId ) { %>
		<div class="delete" id="post" post-id="<%= post.id %>">
			<a href="#/posts/<%= post.id %>" rel="nofollow">delete post</a>
		</div>
	<% } %>
</div>
