<%= render partial: "layouts/navbar" %>
<%= render partial: "layouts/second_row" %>
<%= render partial: "layouts/login_popup" %>
<%= render partial: "layouts/new_post_popup" %>
<%= render partial: "layouts/delete_popup" %>
<%= render partial: "layouts/preferences_popup" %>
<%= render partial: "layouts/new_subreddit" %>

<div id="content">

</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		filepicker.setKey("<%= ENV["filepicker_key"] %>");
	  ProjectSkeleton.initialize();

	});
</script>
