 <div class="subreddit-elements clearfix">
	<h3 class="fancy-front">
    <a href="#/subreddits/<%= subReddit.id %>">
      <%= subReddit.escape("name") %>
    </a>
  </h3>

	<div class="subreddit-nav-bar">
		<ul>
			<li><a class="hot" href="#/subreddits/<%= subReddit.id %>">hot</a></li>
			<li><a class="new" href="#/subreddits/<%= subReddit.id %>">new</a></li>
			<li><a class="controversial" href="#/subreddits/<%= subReddit.id %>">controversial</a></li>
			<li><a class="top" href="#/subreddits/<%= subReddit.id %>">top</a></li>
			<li><a class="best" href="#/subreddits/<%= subReddit.id %>">best</a></li>
		</ul>
	</div>

	<div class="subreddit-sidebar">
		<div class="search-submit-area">
			<form class="search-posts">
				<input type="text" name="search" placeholder="search project skeleton">
			</form>

			<a class="new-text" href="#/posts/new">
        Submit a New Post
      </a>

			<a class="new-subreddit" href="#/subreddits/new">
        Create a Sub
      </a>
		</div>

		<div class="subreddit-details">
			<p><%= subReddit.escape("name") %></p><br><br>
		  <p>Moderator: <a href="#/users/<%= subReddit.escape("moderator_id") %>">
          <%= subReddit.escape("moderator") %>
        </a>
      </p><br><br>

			<p><%= subReddit.escape("description") %></p>
    </div>
	</div>
</div>
