 <div class="subreddit-elements clearfix">
	<% if @subreddit %>
		<h3 class="fancy-front"><%= @subreddit.name %></h3>
	<% end %>

	<div class="subreddit-nav-bar">
		<% if @subreddit %>
			<ul>
				<li><a href="<%= hot_subreddit_url(@subreddit) %>">hot</a></li>
				<li><a href="<%= newest_subreddit_url(@subreddit) %>">new</a></li>
				<li><a href="<%= rising_subreddit_url(@subreddit) %>">rising</a></li>
				<li><a href="<%= controversial_subreddit_url(@subreddit) %>">controversial</a></li>
				<li><a href="<%= top_subreddit_url(@subreddit) %>">top</a></li>
			</ul>
		<% end %>
	</div>


	<div class="subreddit-sidebar">
		<div class="search-submit-area">
			<form>
				<input type="text" placeholder="search reddit">
			</form>
			<a href="<%= new_post_url %>">Submit a New Post</a>
			<a href="<%= new_subreddit_url %>">Create a Sub</a>
		</div>

		<% if @subreddit %>
			<div class="subreddit-details">
				<p>Name: <%= @subreddit.name %></p><br>
			  <p>Moderator: <a href="<%= user_url(User.find(@subreddit.user_id)) %>"><%= User.find(@subreddit.user_id).username %></a></p><br>
				<p>Title: <%= @subreddit.title %></p><br>
				<p>Description: <%= @subreddit.description %></p><br>
			</div>
		<% end %>
	</div>

</div>


<ul class="subreddit-posts">
	<% @posts.each do |post| %>
			<li><%= render partial: "posts/show_text", locals: { post: post } %></li>
	<% end %>
</ul>
